.invoice {
    display: flex;
    flex-flow: column;
}

.add-invoice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem;
    background-color: white;
    border: none;
}

.brown {
    border-bottom: 2px dashed brown;
}

.green {
    border-bottom: 2px dashed green;
}

.submit-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
