.invoiceForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

.image-upload {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 80%;
    height: 30vh;
    cursor: pointer;
}

.image-upload>input {
    display: none;
}

.invoice-preview[src=""] {
    display: none;
}

.invoice-preview {
    border: none;
    width: 90%;
    height: 100%;
}

.invoice-question {
    display: flex;
    padding: 1rem;
    margin: .5rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.submit-expense {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}