.navheader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(13 54 96);
    font-size: 1rem;
    padding: .5rem;
    min-height: 64px;
}

.navheader li{
    list-style-type: none;
}

.navheader a {
    text-decoration: none;
    color: rgb(255 255 255);
    font-weight: bold;
}

.navheader a:visited {
    color: rgb(255 255 255);
}
