:root {
    --HEADER_BGCOLOR : rgb(237, 9, 165);
    --HEADER_COLOR: rgba(255, 217, 0, 0.892);
}

.navheader {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--HEADER_BGCOLOR);
    font-size: 1.5rem;
    padding: .5rem;
}

.navheader li{
    list-style-type: none;
}

.navheader a {
    text-decoration: none;
    color: var(--HEADER_COLOR);
    font-weight: bold;
}

.navheader a:visited {
    color: var(--HEADER_COLOR);
}