.summaryform {
    display: flex;
    flex-flow: column;
}


.summaryitem {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content: center;
    padding: 1rem;
}

.summarytotal {
    display: flex;
    justify-content: right;
    border-top: 1px solid black;
    margin: 1rem;
}

.summarytotal p {
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: double;

}

.summaryform input{
    align-items: center;
    width: 70%;
    max-height: 2rem;
    border: none;
    border-bottom: 1px dashed gray;
    text-align: center;
}

.approve {
    display: flex;
    width: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 1rem;
    background-color: white;
    border: none;
    border-bottom: 2px dashed green;
}
