.tasksection {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid gray;
    border-radius: 20px;
}

.tasksection:hover {
    border: 4px solid black;
}

.taskheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.maininfo{
    padding-top: .5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.maininfo div:nth-child(2) {
    font-weight: bold;
    text-align: right;
    color: green;
}

.maininfo div:first-child {
    font-weight: bold;
    color: brown;
    text-align: left;
}

.tasksection li {
    list-style-type: none;
}

.tasksection li span{
    white-space: nowrap;
}

@media screen and (min-width:360px) {
    .taskheader {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;
    }

    .tasksection ul {
        padding-top: .5rem;
        display: block;
        align-items: center;
    }

}
