.reimbform {
    display: flex;
    flex-flow: column nowrap;
}

.select-event {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    width: 100%;
    padding: 1rem;
}

.select-event li{
    display: flex;
    position: relative;
    width: 100%;
    cursor: pointer;
    gap: 1rem;
    align-items: center;
}

.select-event li label {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
}

.select-event li:hover,
.select-event input:checked ~ label {
    border-bottom: 2px dashed black;
}

.select-event input:focus ~label {
    border-bottom: 2px dashed black;
}

.select-event input[type="radio"] {
    display: none;
}

.submit-event {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}