.carousel{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 1rem;
}

.invoicefig {
    position: relative;
}

.carousel .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(31, 31, 31, 0.5);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
  }

  .carousel .btn.prev {
    left: 0;
  }
  
  .carousel .btn.next {
    right: 0;
  }